body {
  background-color: rgb(54, 54, 54) !important;
  color: white !important;
}

#municipalities path {
  position: relative;
  fill: rgb(140, 140, 140);
  box-shadow: 1px 1px 1px rgb(140, 140, 140);
  stroke: rgb(255, 255, 255);
  stroke-width: 0.75px;
}

#municipalities path:hover {
  fill: blue;
  
}

#lakes path {
  fill: rgb(128, 198, 221);
}

#tooltip-map {
  position: absolute;
  padding: 10px;
  background: blueviolet;
  color: hotpink;
  border-radius: 8px;
  pointer-events: none;
}

.do-not-display {
  display: none;
}

.is-hovered {
  fill: blue;
}

#dia1 {
  height: 50px;
  width: 50px;
}